/* general */
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  width: 1920px;
  height: 2930px;
  background-color: #001821;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0px;
}
button {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: none;
  padding-block: none;
  padding-inline: none;
  border-width: none;
  border-style: none;
  border-color: none;
  border-image: none;
}
.wrapper {
  justify-content: center;
  margin: 26.6px 390px 389px;
  z-index: 1;
}
/* /general */
/* fons */
.fon-one {
  background-image: url(img/background__one.jpg);
  width: 1920px;
  height: 1202px;
  display: flex;
  position: absolute;
  top: 0px;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
/* /fons */

/* Header */
.header {
  width: 1141px;
  height: 123.365px;
  display: flex;
  margin-bottom: 46px;
}
.header__logo {
  height: 38.36px;
  margin-left: 0px;
  margin-right: 79px;
}
.logo {
  margin-top: 2.36px;
  width: 85px;
  height: 36px;
}
/* Nav */
.header__nav {
  display: block;
}
.nav {
  white-space: nowrap;
  margin: 15.4px 0px 0px;
  padding: 0px;
}
.nav__element {
  display: inline;
  margin-right: 54px;
}
.nav__element-item {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.nav__element:last-child {
  margin-right: 0px;
}
/* /Nav */
.header__contact {
  width: 191px;
  display: block;
  margin-left: auto;
  margin-right: 0px;
}
.number {
  width: 191px;
  white-space: nowrap;
  height: 35px;
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.04px;
}
.grafic__job {
  height: 20px;
  width: 97px;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0px;
}
.grafic__job-text {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}
/* /Header */

/* maincontent */
.maincontent {
  width: 511px;
  height: 333px;
  margin-bottom: 246px;
}
.maincontent__title {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27.5px;
}
.maincontent__text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 33.5px;
}
.button {
  height: 55px;
  width: 168px;
  border-radius: 35px;
  background-color: #f5170e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
/* /maincontent */

/* tours */
.tours {
  width: 1140px;
  height: 549px;
  margin-bottom: 127px;
}
.tours__title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 51px;
  margin-left: 3px;
}
.fire {
  width: 21px;
  height: 28px;
  margin-left: 12px;
}
.block__tours {
  display: flex;
  justify-content: space-between;
}

.tour {
  display: inline-block;
  width: 362px;
  height: 449px;
  border-radius: 5px 5px 5px 5px;
  background: #fff;
}
.tour__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 21px;
  margin-left: 22px;
}
.tour__enabled {
  width: 272px;
  height: 26px;
  display: flex;
  margin-left: 28px;
  margin-bottom: 23.5px;
}

.enabled {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 28px;
  margin-top: 2px;
  white-space: nowrap;
}
.calendar {
  width: 36px;
  height: 26px;
  margin-right: 10px;
}
.food {
  width: 36px;
  height: 26px;
  margin-right: 9px;
}
.tour__text {
  width: 324px;
  height: auto;
  margin-left: 22px;
  margin-bottom: 22.5px;
  color: #303030;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/* /tours */

/* news */
.news {
}
.news__title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 51px;
}
.news__stocks {
  width: 1139px;
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 53px;
}
.stock {
  width: 557px;
  height: 394px;
  border-radius: 5px;
}
.stock:first-child {
  background-image: url(img/plain.png);
}
.stock:nth-child(2n) {
  background-image: url(img/Surfer.png);
}
.stock__date {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: 252.5px;
  margin-left: 30px;
  margin-bottom: 12.5px;
}
.stock__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-left: 31px;
  margin-bottom: 3.5px;
}
.stock__text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 32px;
}

/* info */
.info {
  width: 1139px;
  height: 552px;
  display: flex;
  justify-content: right;
}
.info__oneImg {
  width: 490px;
  height: 505px;
  border-radius: 5px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.info__twoImg {
  width: 785px;
  height: 455px;
  border-radius: 5px;
  background-image: url(img/mountains.png);
}
.info__title {
}
.info__text {
}
/* /info */

/* line */
.line {
  width: 1142px;
  height: 4px;
  background-color: #fff;
  opacity: 0.1;
  margin-top: 53px;
  border-radius: 2px;
}
/* /line */

/* footer */
.footer {
  display: flex;
  width: 1142px;
  height: 92.64px;
  margin-top: 53px;
}
.footer__logo {
  height: 38.36px;
  margin-left: 0px;
  margin-right: 79px;
}
.footer__nav {
  margin-right: 274px;
}
.footer__social {
  width: 174px;
  height: 76px;
  margin-right: 74px;
}
.social__menu {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  text-align: none;
}
.social__menu-item {
  list-style-type: none;
  margin-right: 10px;
}

.social {
  width: 36px;
  height: 36px;
}
.footer__number {
}
.footer__number-text {
  display: flex;
  color: #9a9a9a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  justify-content: end;
}
.footer__number-num {
}

/* /footer */
